html, body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #CC4646;
  height: 80px;
}

.menu_backround {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo_text {
  color: #fff;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  line-height: 18px;
  padding-top: 28px;
  padding-left: 35px;
  float: left;
}

.menu ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  float: left;
  font-weight: 300;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  float: right;
}

.menu ul {
  list-style: left: auto
}

.menu ul li a:link {
  text-decoration: none;
}

.menu ul li a:visited {
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul li a:active {
  text-decoration: none;
}

.menu ul li a:hover {
  color: #FF6161
}

.clear {
  clear: both;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.text1 {
  font-size: 36px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.ux {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
  padding-top: 7%;
}

.ux p {
  color: gray;
}

.gray_background {
  width: 100%;
  background-size: cover;
  background-color: #E4E4E4;
  height: 500px;
}

.gray_background p {
  color: gray;
  text-align: center;
  font-size: large;
}

.gray_background h2 {
  text-align: center;
}

.sam {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 20px;
}

.text_header {
  text-align: center;
  margin-bottom: -15px;
}

.design {
  font-family: sans-serif;
  font-weight: 300;
}

.items i {
  text-align: center;
  padding: 25px;
}

.icon {
  text-align: center;
}

.three_square .items {
  width: 30%;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
}

.text_div {
  text-align: center;
  color: grey;
  background-color: #F0F0F0;
}

.icon_part {
  background-color: white;
}

.bg {
  background-image: url("img_girl.jpg");
  height: 50%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  background-image: url("banner-bg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_second {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: grey;
  background-image: url("banner-bg.jpg");
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
